.stock-spinner {
	display: flex;
	align-content: center;
	justify-content: center;
}

.position-container {
	width: 100%;
}

.stock-detail-item-container {
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 0px;
	background-color: #eeeeee;
}